{% extends 'base.html.twig' %}
{% block body %}
        Supported languages are listed in <a href="https://cloud.google.com/translate/docs/languages" rel="nofollow">Google API docs</a><br>
{{ form_start(form) }}
        {{ form_widget(form) }}
<button type="submit" class="btn btn-primary mt-3" formnovalidate>Save</button>
{{ form_end(form) }}
{% endblock %}